# Run with pip install requirements.txt in command line
streamlit
pandas
plotly
scikit-learn
reportlab
python-dotenv
pyodbc
openai
azure-identity
msal
sqlalchemy
requests
python-pptx


gunicorn


# optional / future
# prophet
# xgboost